/* titre de la page fixe */
header {
	font-size: 20px;
    background-color:white;
	position:fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
@media (min-width: 750px){
#colonne {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#colonne li{
    max-width: 50%;
}
}
@media (min-width: 300px){
#colonne {
    list-style-type: none;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 50px;
    display: flex;
}
#colonne li{
    max-width: 50%;
}
}
/* changement puce de liste */
.column li {
    list-style-image: url("/images/bullet.png");
}
/* Accecder à la charte */
#AccesCharte {
    background-color:#E40034 ;
    border-radius: 3px;
    float: left;
}
#AccesCharte, a {
    text-decoration: none;
    color: white;
}
/* Cadre de chapitres (partie masquée) */
.cliquez{
    font-size: 0.6em;
}
.column
{
    position: relative;
    height: 10%;
    color: black;
    flex-direction: column;
}
/* Encadrement réduit et agrandissement des listes à puce*/
details {
    border: 1px outset white;user-select: none;
    border-radius: 4px;
    box-shadow: 0px 0px 7px grey;
    padding: .5em .5em 0;
    color: black;
    background-color: white;
    margin: 4px 0 6px 1px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}
#promo{
    margin-left: 30px;
}
/* Corps de l'application*/
body
{
	background-color: lightgray;
	background-repeat: no-repeat;
}