/* titre de la page fixe */
header {
	font-size: 20px;
    background-color:aquamarine;
	position:fixed; 
    height: 10%;
    width: 100%;
}
/* changement puce de liste */
li {
    list-style-image: url("/images/bullet.png");
}
/* Acceder à la charte */
#BoutonCharte {
    background-color: red;
}
/* Bouton bonus */ 

/* Cadre de chapitres (partie masquée) */

